@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
  font-family: 'Montserrat', 'Gill Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.breathe-1 {
  height: 1rem;
}
.breathe-2 {
  height: 2rem;
}
.breathe-3 {
  height: 3rem;
}

nav {
  border-bottom: solid 1px #000;
}

nav ul {
  display: flex;
  margin: 0;
}

nav ul li {
  margin: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 3rem;
  width: 75vw;
  max-width: 900px;
}

ul {
  list-style: none;
}

.form-container {
  width: 50vw;
  margin: 0 auto;
}

form {
  display: grid;
  margin: 2rem;
}
label {
  font-size: 0.8rem;
}

textarea,
input {
  margin-bottom: 0.8rem;
}

.msg-fail {
  color: #fff;
  background-color: rgb(128, 18, 18);
  padding: 0.5rem;
}

.msg-success {
  color: #fff;
  background-color: rgb(25, 141, 64);
  padding: 0.5rem;
}

button,
[type='submit'] {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  background-color: transparent;
}
button:hover,
[type='submit']:hover {
  border: 1px solid #fff;
  background-color: rgb(36, 36, 36);
  color: #fff;
  cursor: pointer;
}
